

.watchlistSingleMovieContainerDelete input
{
    cursor: pointer;
    color: #102440;
    font-size: 12px;
    border: 0.3em solid #081220;
    border-radius: 0.5em;
    width: 20em;
    height: 3em;
    background-color: #92aaca;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
margin-top:1em;


}



.watchlistSingleMovieContainerAdd input
{
    cursor: pointer;
    color: #92aaca;
    font-size: 12px;
    border: 0.3em solid #081220;
    border-radius: 0.5em;
    width: 20em;
    height: 3em;
    background-color:#102440;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
margin-top:1em;

}



.watchlistMessagePopup {

    width:20em;
    color: #92aaca;

}
