.castContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top:1em;
    justify-content: center;
    margin-bottom: 1em;
    border-radius: 12px;
    overflow-y: scroll;
    border:10px solid #102440;
    height: 40vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.castComponentContainer{
display: grid;
height: 40%;
justify-content: center;
}


.singleCastCard{
    display: grid;
    margin:1em;
    width:18vw;
    border-radius: 25px;
    background-color: #92aaca;
}


.castHeader{
    display: grid;
    color:white;
    justify-content: center;
}


.castName{
    font-size: 16px;
    font-weight: bold;
    display: grid;
    justify-content: center;
}

.caseMovieName{
    display: grid;
    justify-content: center;
}

.singleCastImage{
    width: 18vw;
    display: grid;
}



@media (min-width: 1px) and (max-width: 700px) {
    .castName{
        font-size: 12px;

    }
    .singleCastCard{
        border-radius: 12px;

    }


}
