.castContainer {
    display: grid;
    margin-top:1em;
    justify-content: center;
    margin-bottom: 1em;
    border-radius: 12px;
    border:10px solid #102440;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.castComponentContainer{
    display: grid;
width:50%;

justify-content: center;
}


.singleCastCard{
    display: grid;
    margin:1em;
    overflow: hidden;
    width:10em;
    border-radius: 25px;
    background-color: #92aaca;
}


.castHeader{
    display: grid;
    color:white;
    justify-content: center;
}


.castName{
    font-size: 16px;
    font-weight: bold;
    display: grid;
    justify-content: center;
}

.caseMovieName{
    display: grid;
    justify-content: center;
}

.singleCastImage{
    width: 10em;
    display: grid;
}
