.searchSingleMovieImage {
    width: 12em;
    }

    .searchDate{
        font-weight: 100;
        display: grid;
    }
    .searchTitle{
        display: grid;
        font-size: 20px;
        text-decoration: none;
        overflow-wrap: break-word;
    }
    .searchContainer{
        display:grid;
        justify-content: center;
        border: 1px solid black;
    }


    .searchCard{
        background-color: #92aaca;
     display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr 2fr .2fr;
        font-weight: bold;
        border: 4px solid red;
        margin:1em;
        width:60em;
        height: 18em;;
        color:white;
    }

    .searchTitleLink{
            text-decoration: none;
            color:#102440;
            display: grid;
        }


        .searchDescription{
            display: grid;
        }
