.searchCard{
    background-color: #92aaca;
 display: grid;

    border-radius: 15px;
   grid-auto-flow: column;
    font-weight: bold;
    margin:.5em;

    height: 18em;;
    color:white;
    overflow: hidden;
}
.searchSingleMovieImage {
    width: 12em;
    margin-right:2em;

    }

    .searchDate{
        display: grid;
        font-weight: 100;
        margin-top: .5em;
        margin-right:1em;

    }
    .searchTitle{
        font-size: 20px;
        text-decoration: none;
        overflow-wrap: break-word;
        margin-top: .5em;
    }
    .searchContainer{
        display:grid;
        justify-content: center;
    }



    .searchTitleLink{
            text-decoration: none;
            color:#102440;
        }


        .searchDescription{
            font-size: 16px;
            margin-top: 2em;
        }


        .searchPageSearchContainer{
            display: grid;
            justify-content: center;
        }

 @media (min-width: 1px) and (max-width: 700px) {

    .searchCard{
        width:22em;
        height: 10em;
        overflow-y: scroll;

    }

    .searchSingleMovieImage {
        width: 9em;
        height: 10em;
        margin-right:.3em;
        }

        .searchTitle{
            font-size: 14px;
            height: 2em;
        }
        .searchDate{
      font-size: 8px;
            height: 2em;

        }

        .searchDescription{
            font-size: 10px;
            width:40vw;
            margin-top: 0em;
        }
                  }
