.videosContainer{
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    width:100vw;
    justify-content: center;
    row-gap: 2em;
    column-gap: 2em;
    border:10px solid #102440;
    overflow: hidden;
}





.singleVideoContainer video{
    display: grid;

}
.trailers {
    width:40vw;
    height:40vw;
}
.trailersTitle{

text-align: center;
color:white;
}



@media (min-width: 1px) and (max-width: 800px) {
    .trailers {
        width:40vw;
        height:30vw;
    }

  }

  @media (min-width: 1000px) {
    .trailers {
        width:45vw;
        height:40vw;
    }

  }
