.singleMovieTopContainer{
    display: grid;
    grid-template-columns: 2fr .6fr 1fr 1fr;
    border: 1px solid black;
    position: relative;
    color:white;
    border-top: 0.3em solid #081220;
    border-bottom: 0.3em solid #081220;
}
.singleMovieDescription{
    position:relative;
    z-index:1;
    margin-top: 2em;
    font-size: 14px;
}
.singleMovieRating{
    position:relative;
    z-index:1;
}
.singleMovieRuntime{
    font-size: 12px;
    display: inline;
    margin-left: .5em;
}
.singleMovieImage {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 15em;
    position:relative;
    z-index:1;
}

.singleMovieTitle {

    margin-top:6em;

    position:relative;
    z-index:1;
    font-size: 22px;
    font-weight: bolder;
    color:white;
    width:20em;
}

.overlay{
    position:absolute;
    top:0;right:0;left:0;bottom:0;
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 0;
  }


  .singleMovieGenres{
    display: inline-block ;
    font-size: 12px;
    margin-left:.5em;
  }



  .singleMovieRating{
    display: grid;
    border:1px solid #102440;;
    width:5em;
    height: 5em;
    background-color: #102440;
    color:white;
    text-align: center;
   justify-content: center;
    border-radius: 1em;
    align-items: center;
    margin-top:10em;

}


.createReviewButton{
    display: flex;
    align-content:  flex-end;
    position: absolute;
    bottom: 1em;
    border: 0px;
    color: white;
    background-color: transparent;
    font-size: 18px;
    right: 5em;
    border-bottom: 10px solid #081220;
    border-radius: 40px;
    cursor: pointer;
}
.createReviewButton:hover, .createReviewButton:active,.createReviewButton:visited  {
    background-color: transparent;
}


.disabledCreateReview button{
    background-color: grey;
    color:black


}



.leaveReviewButton{
    display: grid;
    justify-content: center;
}



.leaveReviewButton button {
    cursor: pointer;
    color: #92aaca;
    font-size: 16px;
    border: 0.3em solid #081220;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: .2em;
    margin-top:2em;
    margin-bottom: 3.5em;



}


.leaveReviewButton button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background:linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-180px) skew(-20deg);
    transition: transform 0.4s;
}

.leaveReviewButton button:hover::before {
    transform: translateX(220px) skew(-20deg)
}
.rContainer{
    display: grid;
    justify-content: center;
}
