.splashBanner{
    display: grid;
    height: 20em;
    background-size: cover;
    background-position-y: 25%;
}

.splashWelcome{
    display: grid;
    height: 2em;
    margin-top:1em;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: -1em;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}


.splashMessage{
    display: grid;
    height: 2em;
    margin-bottom: 5em;
    margin-top: 1em;
    font-size: 22px;
    font-weight: bolder;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}


body {
    background-color: #255495;
}


.searchContainer{
    margin-top:2em
}

.TrendingContainer {
    height: 23em;
    overflow-x: hidden;
}

.DiscoverContainer {

    overflow-x: hidden;
}


@media (min-width: 1px) and (max-width: 900px) {
    /* body {
        background-color: red;
    }
    .container{
        background-color: red;
    }
    .max-width-section {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
    }
    #root{
        background-color: red;
    } */
  }
