.userNavMenu {
    position: relative;
    z-index: 100;
    top: 2em;
    margin-left: -6em;
    background-color: #102440;
    color:  #cfd3d9;
    border-radius: 25px;
    display: grid;
    justify-content: center;
    width:18em

}
.userNavMenu div {
    margin: 1em;
    border-bottom: 2px solid #586679;
    }
.userNavMenu button {

    justify-content: center;
    width: 100%;
    margin-top: 2em;
    height: 3em;
    text-align: center;
    align-content: center;
    cursor: pointer;
    color: white;
    font-weight: bolder ;
    background-color: #586679;
    border: 0px;
    margin-bottom: 1em;
}

.userNavMenu div:last-of-type {
    border: 0px;

    }


    @media (min-width: 1px) and (max-width: 800px) {
  
      }
